{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Total Stock Quantity</h5>
                <h2>{{ total_quantity }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Total Inventory Value (₹)</h5>
                <h2>₹ {{ total_value }}</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<hr>
<h4>Category-wise Summary</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Category</th>
      <th>Total Quantity</th>
      <th>Total Value (₹)</th>
    </tr>
  </thead>
  <tbody>
    {% for s in summary %}
    <tr>
      <td>{{ s[0] }}</td>
      <td>{{ s[1] }}</td>
      <td>₹ {{ "%.2f"|format(s[2]) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
