{% extends "base.html" %}
{% block content %}

<h3>Edit Product</h3>

<form method="POST">
  <div class="row g-3">
    <div class="col-md-4">
      <label>Quantity</label>
      <input name="quantity" type="number" value="{{ product[6] }}" class="form-control" required>
    </div>

    <div class="col-md-4">
      <label>Low Stock Threshold</label>
      <input name="threshold" type="number" value="{{ product[7] }}" class="form-control" required>
    </div>

    <div class="col-md-4">
      <label>Price</label>
      <input name="price" type="number" step="0.01" value="{{ product[8] }}" class="form-control" required>
    </div>
  </div>

  <button class="btn btn-primary mt-3">Update</button>
</form>

{% endblock %}
